#landing {
    background-color: #FF5B48;
    min-height: 100vh;
    font-family: 'Poppins';
    overflow-x: hidden;
    position: relative;
}

.landing-container {
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-top: -150px; /* Negative half of height. */
    margin-left: -300px; /* Negative half of width. */
    z-index: 999;
}

.landing-text {
    display: inline-block;
    font-size: 130px;
    line-height: 1em;
    background: #FF5B48;
    padding-right: 10px;
    padding-bottom: 10px;
}

.social-links {
    padding-top: 10px;
    font-size: 60px;
}

.show-landing-text {
    opacity: 1;
    transform: translateY(0);
}

.social {
    color: black;
}

.social:hover {
    transform: scale(1.15);
}

.gradient-box {
    background: repeating-linear-gradient(90deg, #42E865, lightblue, #1E72EA, #42E865 200px);
    background-size: 200% 200%;
    width: 400px;
    height: 500px;
    animation: animate-gradient 1.5s linear infinite;
    position: absolute;
    top: 0;
    left: 200px;
    transform: translateX(-600px);
    transition: all 2s;
    transition-delay: 0.5s;
}

.show-gradient-box {
    transform: translateX(0);
}

.flower {
    opacity: 0;
    transition: all 2s;
    transition-delay: 0.5s;
    position: absolute;
    width: 300px;
    right: 100px;
    bottom: 10px;
    animation: animate-flower 6s linear infinite;
}

.show-flower {
    opacity: 1;
    transform: translateY(0);
}

.top-left-squiggly {
    width: 1500px;
    height: auto;
    top: -50px;
    left: -300px;
    transform: rotate(135deg);
    position: absolute;
    z-index: 1;
}

.top-right-squiggly {
    width: 1200px;
    height: auto;
    transform: rotate(180deg);
    position: absolute;
    right: -450px;
    top: -300px;
}

.bottom-left-squiggly {
    width: 1200px;
    height: auto;
    position: absolute;
    left: -450px;
    bottom: -500px;
    z-index: 1;
}

@keyframes animate-gradient {
    0% {
        background-position: 0 0%;
    }
    100% {
        background-position: -100% 0%;
    }
}

@keyframes animate-flower {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}